/* width */
#content::-webkit-scrollbar {
  width: 0px;
}

/* Track */
#content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #15121e;
}

/* Handle */
#content::-webkit-scrollbar-thumb {
  background: #231f33;
  border-radius: 10px;
}

/* Handle on hover */
#content::-webkit-scrollbar-thumb:hover {
  background: #15121e;
}
